{
  "presets": [["env"]],
  "retainLines": true,
  "plugins": ["transform-object-rest-spread"],
  "compact": false,
  "comments": true,
  "env": {
    "development": {
      "plugins": []
    }
  }
}
