{
  "presets": [["env", { "modules": false }]],
  "retainLines": true,
  "plugins": ["transform-object-rest-spread"],
  "compact": false,
  "comments": true,
  "ignore": "test.js",
  "env": {
    "development": {
      "plugins": []
    }
  }
}
