{
    "presets": [
        [ "env", { "modules": false } ]
    ],
    "retainLines": true,
    "plugins": [],
    "compact": false,
    "comments": true,
    "env": {
        "development": {
            "plugins": []
        }
    }
}
